@import '~node_modules/modern-normalize/modern-normalize.css';
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid green;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .container {
    width: 1246px;
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.modal-btn-queue, .modal-btn-watched {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 92px;
  background-image: url("../img/header_mob_1x-min.jpg");
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 80px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../img/header_mob_2x-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../img/header_tab_1x-min.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../img/header_tab_2x-min.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url("../img/header_desk_1x-min.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../img/header_desk_2x-min.jpg");
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav--list {
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .header__logo {
    gap: 8px;
  }
}
.header__logo--word {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.7;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .header__logo--word {
    display: none;
  }
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-icon {
  width: 24px;
  height: 24px;
}

.header__pages--reset {
  text-decoration: none;
  color: #ffffff;
}

.header__underline {
  position: relative;
}

.header__underline::after {
  position: absolute;
  bottom: 7px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  border-radius: wpx;
}

.header__form {
  position: relative;
  margin: 0 auto;
  width: 280px;
  margin-top: 54px;
}
@media screen and (min-width: 768px) {
  .header__form {
    width: 336px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__form {
    width: 394px;
  }
}

.header__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.header__input:focus {
  outline: none;
}
.header__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.search__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.search__icon {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 12px;
  height: 12px;
}

.header__nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.library__header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 62px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_mob1-min.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library__header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_mob2-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .library__header {
    padding-bottom: 60px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_tab1-min.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library__header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_tab2-min.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .library__header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_desk1-min.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .library__header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_libr_desk2-min.jpg");
  }
}

.header__library--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header__library--buttons {
    margin-top: 40px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__library--buttons {
    gap: 16px;
  }
}

.library__button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 130px;
  height: 44px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-radius: 5px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .library__button {
    width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .library__button {
    width: 147px;
    height: 42px;
  }
}

.button__watched {
  background-color: #ff6b08;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
}

.gallery {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__list {
    justify-content: center;
    column-gap: 16px;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  min-height: 443px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.gallery__item:hover .trailer-text {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 336px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (max-width: 767.98px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.gallery__film-box {
  position: relative;
  width: 100%;
  background-color: #f5f4f4;
}

.gallery__film-poster {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gallery__trailer {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 40px 40px;
  position: absolute;
  top: 6px;
  left: 3px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.trailer-text {
  width: 250px;
  padding: 3px 15px;
  margin-left: 65px;
  background-color: rgba(242, 243, 244, 0.8);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #d13100;
  text-align: center;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.gallery__genre-film {
  color: #ff6b08;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .gallery__genre-film {
    font-size: 16px;
    line-height: 1.2;
  }
}

.gallery__title-film {
  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .gallery__title-film {
    font-size: 18px;
    line-height: 1.2;
  }
}

.gallery__title-box {
  margin: 10px 0;
  padding: 0 5px;
}
@media screen and (min-width: 768px) {
  .gallery__title-box {
    margin: 8px 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title-box {
    margin: 12px 0;
  }
}

.backdrop-trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.backdrop-trailer.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-trailer.is-hidden .trailer__modal {
  transform: translate(-50%, 0%) scale(0.5);
}

body.trailer-open {
  height: 100vh;
  overflow: hidden;
}

.trailer__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .trailer__modal {
    width: 600px;
    height: 395px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer__modal {
    width: 800px;
  }
}

.trailer__video {
  width: 100%;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .trailer__video {
    width: 560px;
    height: 315px;
  }
}

.trailer__btn {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.trailer__btn:hover {
  background-color: #ff001b;
}
.trailer__btn:focus {
  background-color: #ff001b;
  outline: none;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .trailer__btn {
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
  }
}

.trailer__btn-icon {
  width: 35px;
  height: 35px;
  stroke: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .trailer__btn-icon {
    width: 20px;
    height: 20px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  padding: 48px 20px 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal {
    width: 704px;
    min-height: 552px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    min-height: 558px;
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .js-modal-wrap {
    display: flex;
    gap: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .js-modal-wrap {
    display: flex;
    gap: 16px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.modal-poster {
  margin: 0 auto;
  width: 240px;
  height: 357px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal-poster {
    width: 264px;
    height: 374px;
    flex-shrink: 1;
  }
}
@media screen and (min-width: 1280px) {
  .modal-poster {
    width: 375px;
    height: 478px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal-info {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-info {
    width: 391px;
  }
}

.modal-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.17;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal-title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-title {
    margin-top: 0;
    font-size: 30px;
  }
}

.info-wrap {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.info-list {
  width: 50%;
}

.info-item-left {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #8c8c8c;
}

.info-item-left:not(:last-child) {
  margin-bottom: 8px;
}

.info-item-right {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #000000;
}

.info-item-right:not(:last-child) {
  margin-bottom: 8px;
}

.upper {
  text-transform: uppercase;
}

.span-vote {
  display: inline-block;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #ffffff;
  line-height: 1.17;
  text-align: center;
}

.span-slash {
  color: #8c8c8c;
}

.span-votes {
  display: inline-block;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #f7f7f7;
  line-height: 1.17;
  text-align: center;
}

.about {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.annotation {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #000000;
  margin-bottom: 20px;
}

.btn-wrap {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1280px) {
  .btn-wrap {
    margin-left: 8px;
  }
}

.modal-btn-watched {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-color: #ff6b08;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal-btn-watched {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-btn-watched {
    width: 136px;
  }
}

.modal-btn-queue {
  width: 110px;
  height: 44px;
  border: 1px, solid, #000000;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .modal-btn-queue {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-btn-queue {
    width: 136px;
  }
}

.page-btn {
  background: #f7f7f7;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.3s ease;
  margin: 0 2px;
  font-size: 15px;
  text-align: center;
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$=-page]) {
  min-width: 35px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.page-btn[class*=-page] {
  background: #f7f7f7;
  font-size: 0.6em;
  font-weight: 700;
}

.page-btn.active {
  background: #ff6b08;
  color: #fff;
}

.page-btn[disabled] {
  opacity: 0.3;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer__text {
  color: #545454;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  width: 236px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    width: 100%;
    font-size: 16px;
  }
}

.footer__text-link {
  text-decoration: underline;
  color: #545454;
}
.footer__text-link:hover, .footer__text-link:focus {
  text-shadow: #8c8c8c 1px 0 10px;
  color: #ff6b08;
}

.heart {
  animation: heartbeat 2s infinite;
  background-color: #ff6b08;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ff6b08;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}
.backdrop__modal-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.backdrop__modal-team.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal-team.is-hidden .modal-team {
  transform: translate(-50%, 0%) scale(0.5);
}

.modal-team {
  position: relative;
  min-width: 280px;
  min-height: 365px;
  width: 100%;
  overflow-y: auto;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff6b08;
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-team::-webkit-scrollbar {
  width: 3px;
}
.modal-team::-webkit-scrollbar-thumb {
  background-color: #ff6b08;
  border-radius: 10px;
}
@media screen and (max-width: 767.98px) {
  .modal-team {
    height: 100%;
  }
}
@media screen and (min-width: 320px) {
  .modal-team {
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 768px) {
  .modal-team {
    max-width: 800px;
    min-height: 600px;
    padding: 32px 60px;
    overflow: hidden;
  }
}

.modal-team__bnt-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-team__bnt-close:hover, .modal-team__bnt-close:focus {
  background-color: #ff001b;
}
@media screen and (min-width: 768px) {
  .modal-team__bnt-close {
    width: 30px;
    height: 30px;
  }
}

.modal-team__close-icon {
  width: 30px;
  height: 30px;
}

.team__title {
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
}
.team__title:after {
  content: "";
  display: block;
  width: 80px;
  height: 15px;
  margin: 0 auto;
  border-bottom: 5px solid #ff6b08;
}
@media screen and (min-width: 1280px) {
  .team__title {
    margin-bottom: 30px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1280px) {
  .team__list {
    gap: 15px;
  }
}

.team__item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 1280px) {
  .team__item {
    gap: 5px;
  }
}

.team__item-photo {
  width: 140px;
  height: 140px;
  border: 2px solid #ff6b08;
  border-radius: 50%;
}

.team__item-logo {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=index.css.map */
