@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
