@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  // border: none;
  cursor: pointer;
}
