// colors

$red-error: #ff001b;
$orange-accent: #ff6b08;
$black-main: #000000;
$white-main: #ffffff;
$grey-footer: #545454;
$grey-bcg-footer: #f7f7f7;
$grey-modal: #8c8c8c;

$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
