<section class="gallery section">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <img src="#" alt="" />
          <button type="button" class="gallery__trailer">
            <span class="trailer-text">Watch trailer</span>
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">TITLE OF THE FILM</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
