<section class="gallery section">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__film-box">
          <button type="button" class="gallery__trailer">
            <svg class="gallery__trailer-icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
            <!-- <p class="gallery__trailer-text"> -->
            <span class="trailer-span">Watch trailer</span>
            <!-- </p> -->
          </button>
        </div>
        <div class="gallery__title-box">
          <h2 class="gallery__title-film">Title of the film</h2>
          <h3 class="gallery__genre-film">Genre of the film | year</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
