<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <div class="header__logo">
        <img src="./img/film.svg" alt="" />
        <a href="#" class="header__logo--word">Filmoteka</a>
      </div>
      <ul class="header__nav--list">
        <li class="header__underline">Home</li>
        <li>my library</li>
      </ul>
    </nav>
    <form class="header__form">
    <input
      type="text"
      name="searchQuery"
      class="header__input"
      placeholder="Movie search"
    />
    <button type="button" class="search__button"> <img src="./img/search.svg" alt="" class="search__icon"></button>
</form>
  </div>
</header>
