<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn-close" data-modal-close>
      <img src="./img/close.svg" alt="close-button" width="30" height="30" />
    </button>
    <div class="js-modal-wrap">
      <!-- <div class="modal-poster">
      <img src="" alt="" />
    </div>

    <div class="modal-info">
      <h2 class="modal-title">A FISTFUL OF LEAD</h2>

      <div class="info-wrap">
        <ul class="info-list">
          <li class="info-item-left">
            <p class="text-left">Vote / Votes</p>
          </li>
          <li class="info-item-left">
            <p class="text-left">Popularity</p>
          </li>
          <li class="info-item-left">
            <p class="text-left">Original Title</p>
          </li>
          <li class="info-item-left">
            <p class="text-left">Genre</p>
          </li>
        </ul>
        <ul class="info-list">
          <li class="info-item-right">
            <p class="text-right">
              <span class="span-vote">7.3</span>
              <span class="span-slash">/</span>
              <span class="span-votes">1260</span>
            </p>
          </li>
          <li class="info-item-right">
            <p class="text-right">100.2</p>
          </li>
          <li class="info-item-right">
            <p class="text-right upper">A FISTFUL OF LEAD</p>
          </li>
          <li class="info-item-right">
            <p class="text-right">Western</p>
          </li>
        </ul>
      </div>

      <h3 class="about">About</h3>
      <p class="annotation">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>-->
      <!-- <div class="btn-wrap">
        <button class="modal-btn-watched" type="button">add to Watched</button>
        <button class="modal-btn-queue" type="button">add to queue</button>
      </div>
    </div> -->
    </div>
  </div>
</div>
