<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn-close" data-modal-close>
      <img src="./img/close.svg" alt="close-button" />
    </button>
    <div class="js-modal-wrap"></div>

    <div class="btn-wrap">
      <button
        class="modal-btn-watched modal-btn"
        type="button"
        data-button="watched"
      >
        add to watched
      </button>
      <button
        class="modal-btn-queue modal-btn"
        type="button"
        data-button="queue"
      >
        add to queue
      </button>
    </div>
  </div>
</div>
