<div class='backdrop__modal-team is-hidden' data-modal-team>
  <div class='modal-team'>
    <button class='modal-team__bnt-close' data-modal-close-team type='button'>
      <svg class='modal-team__close-icon' height='20' width='20'>
        <use href='#'></use>
      </svg>
    </button>
    <div class='team' id='team'>
      <h2 class='team__title'>Meat Our Team</h2>
      <ul class='team__list'>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Yuliya Nikiforova</h3>
          <p>Team Lead</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Irina Khamidova</h3>
          <p>Scrum Master</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Yuliya Goriun</h3>
          <p>Developer</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Olga Piasetska</h3>
          <p>Developer</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Olga Sydorenko</h3>
          <p>Developer</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
        <li class='team__item'>
          <div class='team__item-photo'></div>
          <!--              <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>-->
          <h3>Valeria Sarazhinska</h3>
          <p>Developer</p>
          <a href='https://github.com/ValeriaSarazhinska'
             target='_blank'>
            <!--                <img src="./images/team/github.svg" alt="GoIT-team" width="25"/>&ndash;&gt;-->
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>