<div class="backdrop__modal-team is-hidden" data-modal-team>
  <div class="modal-team">
    <button class="modal-team__bnt-close"  type="button">
      <img
        alt="close-button"
        class="modal-team__close-icon"
        src="./img/close.svg"
        data-modal-close-team
      />
    </button>
    <!-- <div class="team" id="team"> -->
    <h2 class="team__title">Meet Our Team</h2>
    <ul class="team__list">
      <li class="team__item">
        <img alt="GoIT-team" class="team__item-photo" src="./img/yuliaH.png" />
        <h3>Yuliya Nikiforova</h3>
        <p>Team Lead</p>
        <a href="https://github.com/YuliiaN" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
      <li class="team__item">
        <img alt="GoIT-team" class="team__item-photo" src="./img/irinaK.png" />
        <h3>Irina Khamidova</h3>
        <p>Scrum Master</p>
        <a href="https://github.com/Classika88" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
      <li class="team__item">
        <img alt="GoIT-team" class="team__item-photo" src="./img/yuliyaG.png" />
        <h3>Yuliya Goriun</h3>
        <p>Developer</p>
        <a href="https://github.com/Yulik-o" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
      <li class="team__item">
        <img alt="GoIT-team" class="team__item-photo" src="./img/olgaP.png" />
        <h3>Olga Piasetska</h3>
        <p>Developer</p>
        <a href="https://github.com/olgabutsik" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
      <li class="team__item">
        <img alt="GoIT-team" class="team__item-photo" src="./img/olgaS.png" />
        <h3>Olha Sydorenko</h3>
        <p>Developer</p>
        <a href="https://github.com/olha-sydorenko" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
      <li class="team__item">
        <img
          alt="GoIT-team"
          class="team__item-photo"
          src="./img/valeriaS.png"
        />
        <h3>Valeria Sarazhinska</h3>
        <p>Developer</p>
        <a href="https://github.com/ValeriaSarazhinska" target="_blank">
          <img
            alt="GoIT-team"
            class="team__item-logo"
            src="./img/git_hub_logo.png"
          />
        </a>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</div>
