<div class="backdrop-trailer is-hidden js-backdrop-trailer" data-modal-trailer>
  <div class="trailer__modal">
    <button type="button" class="trailer__btn" data-modal-close-trailer>
      <img
        src="./img/close-trailer.svg"
        alt="close button"
        class="trailer__btn-icon"
      />
    </button>
    <iframe
      width="560"
      height="315"
      class="trailer__video"
      src="https://www.youtube.com/embed/4HFlPcX2HFo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
