.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  outline: 1px solid green;

  @include mq(mob) {
    width: 480px;
  }

  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include mq(desk) {
    width: 1280px;
  }
}
