.gallery {
  background-color: $white-main;
}

.gallery__list {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: row;
  }
  @include mq(desk) {
    gap: 16px;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 438px;
  @include mq(tab) {
    max-width: 336px;
  }
  @include mq(desk) {
    max-width: 394px;
    margin-bottom: 32px;
  }
}

.gallery__film-box {
  width: 100%;
  min-height: 398px;
  outline: red 1px solid;
  background-color: #f5f4f4;
  border-radius: 5px;
}

.gallery__genre-film {
  display: flex;
  color: $orange-accent;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  gap: 4px;
  @include mq(desk) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__title-film {
  display: flex;
  text-transform: uppercase;
  color: $black-main;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  @include mq(desk) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__title-box {
  margin-top: 10px;
  margin-bottom: 20px;

  @include mq(tab) {
    margin-top: 8px;
    margin-bottom: 0;
  }
  @include mq(desk) {
    margin-top: 12px;
  }
}
