.gallery {
  background-color: $white-main;
}

.gallery__list {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 32px;
  }
  @include mq(desk) {
    justify-content: center;
    column-gap: 16px;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  min-height: 443px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 400ms $cubic;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  &:hover .trailer-text {
    opacity: 1;
  }

  @include mq(tab) {
    width: 336px;
    margin: 0;
  }
  @include mq(desk) {
    width: calc((100% - 32px) / 3);
  }
}

.gallery__item:not(:last-child) {
  @include mq(mob-only) {
    margin-bottom: 20px;
  }
}

.gallery__film-box {
  position: relative;
  width: 100%;
  background-color: #f5f4f4;
}

.gallery__film-poster {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gallery__trailer {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 40px 40px;

  position: absolute;
  top: 6px;
  left: 3px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.trailer-text {
  width: 250px;
  padding: 3px 15px;
  margin-left: 65px;
  background-color: rgba(242, 243, 244, 0.8);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #d13100;
  text-align: center;

  transition: opacity 500ms $cubic;
  opacity: 0;
}

.gallery__genre-film {
  color: $orange-accent;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  @include mq(desk) {
    font-size: 16px;
    line-height: 1.2;
  }
}

.gallery__title-film {
  text-transform: uppercase;
  color: $black-main;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  @include mq(desk) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.gallery__title-box {
  margin: 10px 0;
  padding: 0 5px;

  @include mq(tab) {
    margin: 8px 0;
  }
  @include mq(desk) {
    margin: 12px 0;
  }
}
